
@{
    ViewBag.Title = "Explae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Explae</h2>

@Scripts.Render("~/bundles/Scripts")
<style>
    div.dt-buttons {
        float: left;
        margin-left: 50px;
    }

    /*.exportExcel {
        padding: 5px;
        border: 1px solid black;
        margin: 5px;
        cursor: pointer;
    }*/
    /*.blue {
        color: #4e73df;
        text-decoration: none;
        background-color: transparent;
    }*/
    .thead {
        background-color: grey;
        color: #fff;
    }
</style>

