@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Collection Advantage - LogOut</title>
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/style.css">
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />@*used for the small images*@
</head>
<body>
    <main id="banner" class="reset">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo pt-5 mt-5">
                        <img src="~/Images/logo.jpg" alt="Logo">
                    </div>
                </div>
                <div class="offset-md-3"></div>
                <div class="col-md-5">
                    <div class="bg_background">
                        <div class="cont pb-5 text-center ">
                            <h1>Sign Out</h1>
                            <small>Lorem Ipsum color set</small>
                        </div>
                        <form action="" class="px-3">
                            <div class="form-group">
                                <label for="email">You have successfully logged out!</label>
                                <label for="email">To continue working please click on Login</label>
                                <i class="fas fa-fw fa-arrow-alt-circle-down"></i>
                            </div>
                            <div class="btnn pt-3 text-center">
                                <button type="submit" class="btn btn-primary pull-left">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/CustomScripts/Account/LoginAccount.js"></script>
</body>
</html> 